
/*
	BLOCKS HELPER CSS
*/

/* stretches text regions to full width */
body.edit div#blocks-wrapper div#inner-blocks-wrapper textarea {
	width: 100%;
}


/*
	these rules will show max/min image dimensions on image regions using the existing
*/
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element {
	position: absolute;
	top: 0;
	left: 136px;
	background: white;
	font-size: 11px;
	line-height: 1em;
	padding: 5px 5px 6px 5px;
	margin: 1px;
	display: block;
}
.ie7 body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element { display: none; }

body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .width,
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .height,
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .asset-id { 	display: none; }

body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .min-width { }
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .min-width:before { content: 'Min.: '; }
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .min-width:after { content: ' x'; }

body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .min-height { }
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .min-height:after { content: 'px'; }

body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .max-width { }
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .max-width:before { content: '| Max.: '; }
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .max-width:after { content: ' x'; }

body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .max-height { }
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .max-height:after { content: 'px'; }

.repeatable-container-tools,
.repeatable-area-tools {
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	        box-sizing: content-box;
}

.blocks_help {
	display: block;
	padding: 10px;
	margin: 10px 0 10px 0;
	color: white;
	background-color: #39C;
	border: 2px solid #1E6081;
	border-radius: 5px;
	font-size: 14px;
	width: 80%;
}


/* shows page url bottom right in edit mode */
#page_url_helper {
	text-align: center;
	position: fixed;
	background: #333;
	bottom: 0;
	right: 0;
	z-index: 9999;
	color: white;
	font-size: 10px;
	padding: 3px 10px;
	border-radius: 3px 0 0 0;
	-webkit-box-shadow: 0 0 5px 0 #999;
	   -moz-box-shadow: 0 0 5px 0 #999;
	        box-shadow: 0 0 5px 0 #999;
}
#page_url_helper a {
	color: white;
}